@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf') format("truetype-variations");
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('../assets/fonts/playfair-display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format("truetype-variations");
}